<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
</head>
<body>
    <form name="insertRanking" action="#">
        Site:
        <input type="text" name="site"><br>
        Ranking:
        <input type="number" name="ranking"><br>
        Description
        <input type="text" name="description"><br>
        <input type="text" name="key1" placeholder='key'>
        <input type="text" name="value1" placeholder='value'><br>
        <button>Add Attribute</button><br>
        Submit Ranking:
        <input type="Submit">        
    </form>
</body>
</html>